body {
    background-color: #1e1e1e;
    color: #eee;
    font-size: 1.15em;
}

.xdebug-var-dump {
    background-color: #252525;
    border-radius: 15px;
    padding: 5px;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #b2b69a;
}

div {
    background-color: red;
}